@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}  

body {
    background: linear-gradient(#2E1A41, #7597de);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: default;
    /* opacity: 0;
    animation: slideRight 1s ease forwards; */
}

header ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover,
.active {
    background: #fff;
    text-decoration: none;
    padding: 6px 15px;
    color: #2E1A41;
}

#first {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#first::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #2E1A41, transparent);
    z-index: 1000;
}

#first img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#first img#moon {
    mix-blend-mode: screen;
}

#first img#mountains_front {
    z-index: 10;
}

#text {
    position: absolute;
    right: -350px;
    color: #000;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
}

#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2E1A41;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}


#second {
    position: relative;
    padding: 100px;
    min-height: 100vh;
    background: linear-gradient(#2E1A41, #7597de);
}

#particles-js{
    height: 100%;
    position: absolute;
}

#second::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    /* background: linear-gradient(to top, #7597de, transparent);
    z-index: 1000; */
}

#second .category{
    position: absolute;
    /* width: 80%; */
}

#second h2 {
    display: flex;
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}

#second h3 {
    display: flex;
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #fff;
}

#second p {
    display: flex;
    inline-size: 450px;
    font-size: 1em;
    color: #fff;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: 0.5s ease;
}

.social-media a:hover{
    background: #fff;
    color: #1f242d;
    /* box-shadow: 0 0 20px #fff; */
}

.btn{
    display: inline-block;
    padding: 12px;
    background: #fff;
    border-radius: 40px;
    box-shadow: 0 0 10px #fff;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}

#second .shruti {
    /* position: relative;
    align-items: right; */
    float:right;
    width: 20%;
    border: #1c0522;
    border-width: 20px;
    padding-bottom: 30px;
}

#third {
    /* min-height: 100vh; */
    background: linear-gradient(#7597de, #1c0522);
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#third::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #2E1A41, transparent);
    z-index: 1000;
}

#third h1 {
    font-size: 3.5em;
    padding-top: 20px;
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
    justify-content: center;
}

#third .card {
    border-radius: 25px;
    /* background-color: #fff; */
    width: 250px;
    height: 300px;
    /* opacity: 0.9; */
}

#third .image-card {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    padding-top: 40px;
    height: 150px;
    /* padding: 3px; */
}

#third .cardName {
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    color: #fff;
}

.swiper mySwiper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 200px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 300px;
    border-radius: 25px;
    background: #2E1A41;
    /* -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #000); */
}

#fourth {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    background: #2E1A41;
    height: 100vh;
    color: azure;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: coloumn;
}

.main-title{
    font-size: 4em;
    margin-bottom: 50px;

}

.content{
    position: relative;
    width:1150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .image{
    position: relative;
    width:800px;
    height: 400px;
    overflow: hidden;
}

.content .image img{
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.content .text-box{
    z-index: 222;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 40px;
    max-width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transform: translate(-50px, 80px);
}

.content .text-box h3{
    font-size: 2em;
    margin-bottom: 10px;
}

.section-title{
    font-size: 3em;
    margin-bottom: 80px;
}

.info-title{
    font-size: 1.8em;
    margin-bottom: 10px;
}

.info{
    width: 700px;
    margin-left: 50px;
}

.sec-03{
    margin-bottom: 100px;
}